body{
    font-family: sans-serif;
    padding: 10px;
    background-color: white;
}

.FirstPage{
    color:black;
}

h1{
    
    text-align: center;
    font-size: xx-large;
}

h2{
    text-align: center;
    font-size: large;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0a192f;
}
  
li{
    float: left;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active){
    background-color: #982828;
}
  
.active{
    background-color: #982828;
}